- provide :body_classes, 'menu_open blog_page'

#blog_previews
  - @blogs.each_with_index do |blog, i|
    .blog_preview_content_wrapper{data: {tags: blog.tags, filter_order: i}}
      = render "teaser_#{blog.teaser_type}", blog: blog

.blog_tag_list
  %ul
    - BlogTag.pluck(:name).each do |tag|
      %li= link_to tag, 'javascript: void 0;', data: {filter: tag}
