.about_page
  background-image: image_url('about.png')
  background-size: cover
  background-position: 50%

.about_page_wrapper
  min-height: 100vh
  padding: 10px 15px
  .page_content
    +flexbox
    max-width: 1200px
    margin: 130px auto 0
    position: relative
    @media screen and (max-width: 850px)
      +flex-direction(column)
      .left_column, .right_column
        margin-top: 30px !important
      .left_column
        position: absolute
        top: 0

      .right_column
        text-align: right
        +order(2)
        h3:after
          margin-left: auto
        
      .main
        +order(3)


    .left_column, .right_column
      +flex(0 0 200px)
      .right_column_item
        margin-bottom: 30px
    &:first-of-type
      .left_column, .right_column
        margin-top: 200px
    .who_we_are
      margin-top: 200px
    .main
      +flex(1)
      padding: 0 80px

      @media screen and (max-width: 1100px)
        padding: 0 20px

      p
        text-indent: 50px
        &.no_margin
          margin: 0
        a
          border-bottom: 1px solid $color_3
          &:hover
            border-bottom: 2px solid $color_3
            text-decoration: none
      .underline
        border-bottom: 1px solid $color_3

#about_service_section

  #about_services
    text-align: center
    padding-bottom: 100px
    a
      display: block
      font-size: 1.25rem
      font-weight: 600
      &:not(:last-child):after
        content: ""
        width: 60px
        height: 8px
        background-color: black
        display: block
        margin: 25px auto

  .right_column
    padding: 100px 0
    p
      list-style: none
      font-family: pressura
      line-height: 1.7rem
      font-size: 1rem



