#home_page_wrapper
  height: 100vh
  .home_links
    max-width: 700px
    margin: 0 auto
    padding: 100px
    position: relative
  .spacer_div
    height: 5px
    width: 100%
    background: black
    margin: 10px 0
  .about_home_link
    width: 250px
    position: absolute
    top: 300px
    left: 0
  .journal_home_link
    width: 250px
    position: absolute
    top: 420px
    left: 165px
  .play_home_link
    width: 90px
    position: absolute
    left: 490px
    a
      float: right
      position: relative
      left: 5px
    h2
      text-align: center!important
      margin-top: 10px!important

    .spacer_div
      margin: 0 auto
      height: 250px
      width: 5px
      background: black
  .work_home_link
    width: 250px
    position: absolute
    top: 460px
    right: 0
  h2
    margin: 0
    text-align: right
    font-size: 2.5rem
  a
    font-family: pressura
    font-size: 1.1rem
#home_red_layer
  background-image: image-url('home_back_red.png')
  width: 100%
  height: 100vh
  background-size: 100%
  background-repeat: no-repeat
  position: fixed
  top: 0
  left: 0
#home_white_layer
  background-image: image-url('home_back_white.png')
  width: 100%
  height: 100vh
  background-size: 100%
  background-repeat: no-repeat
  position: fixed
  top: 0
  left: 0
#home_white_centre
  background-image: image-url('WhiteRock_outline.png')
  width: 600px
  height: 500px
  background-size: contain
  background-repeat: no-repeat
  position: fixed
  background-position: 50%
  top: 50%
  left: 50%
  margin-left: -300px
  margin-top: -250px

#home_red_back
  background-image: image-url('about.png')
#home_white_back
  background-image: image-url('blog.png')

#home_red_back, #home_white_back
  position: fixed
  height: 100%
  width: 100%
  background-size: cover
  background-position: 50%