#play_title
  font-size: 2.5rem
  color: $color_3
  font-weight: bold
  max-width: 1000px
  margin: 0 auto
  span
    position: relative
    padding: 100px
    &:nth-child(2)
      top: 70px
    &:nth-child(3)
      top: -30px
    &:nth-child(4)
      top: 50px

#plays_container
  padding: 100px 30px 400px
  max-width: 1200px
  margin: 0 auto

.play_teaser
  max-width: 300px
  text-align: center
  height: 80px
  h3:after
    margin: 0 auto
  &:nth-child(2)
    margin: 0 0 0 auto
    height: 250px
  &:nth-child(3)
    margin: 0 auto

.show_play_teaser
  max-width: 300px
  text-align: center
  margin: 0 auto
  margin-bottom: 100px
  h3:after
    margin: 0 auto

#play_content_wrapper
  padding: 0 30px

#play_content
  max-width: 1200px
  margin: 0 auto
  background-color: white
  padding: 0 150px
  box-sizing: border-box

.play_teaser_image
  width: 260px
  height: 260px
  background-color: #f2e9e9
  border-radius: 130px
  padding: 40px
  box-sizing: border-box
  margin: 0 auto