#projects_previews
  font-size: 0

#projects_intro
  font-size: 1.25rem
  text-align: center
  line-height: 1.7rem
  max-width: 500px
  margin: 40px auto
  padding: 20px

#project_tags
  text-align: center
  margin: 30px
  .project_tag
    display: inline-block
    font-family: pressura
    font-size: 1.1em
    + .project_tag:not(.first_in_line)
      &:before
        content: ' - '
        position: absolute
    a
      padding-left: 15px
      &:hover
        text-decoration: none
      &.filter_selected
        color: $color_3

#projects_previews
  max-width: 1600px
  margin: 0 auto

.project_preview_container
  display: inline-block
  vertical-align: top
  width: 33.3%
  font-size: 1rem
  padding: 20px
  box-sizing: border-box
  text-align: center

  @media screen and (max-width: 900px)
    width: 50%
    padding: 10px
  @media screen and (max-width: 550px)
    width: 100%


  h3
    text-transform: none
    font-size: 1.1rem
    letter-spacing: 1px
    margin-top: 0
    &:after
      display: none
  .mono
    font-size: 0.875rem
    line-height: 1.3rem
  .project_preview
    padding: 100px 0 0
    height: 300px
    box-sizing: border-box
    background-size: cover
    background-position: 50%
    background-color: #730E15
    position: relative


  .project_preview_underlays
    position: absolute
    height: 100%
    width: 100%
    top: 0
    overflow: hidden

    .white_rock
      position: absolute
      height: 100%
      width: 100%
      background-color: rgba(white, 0.3)
    .pink_rock
      position: absolute
      height: 100%
      width: 100%
      background-color: rgba(pink, 0.3)

  &.filter_selected .white_rock
    display: none
  &:not(.filter_selected) .pink_rock
    display: none

  .project_preview_content
    position: relative
    z-index: 10
    display: inline-block
    padding: 0 30px


.project_page_container
  max-width: 1200px
  margin: 0 auto

.freeflow_container .content
  padding-top: 100px
  padding-bottom: 100px

.freeflow_item
  max-width: 600px
  width: 50%
  padding: 20px
  box-sizing: border-box

  @media screen and (max-width: 600px)
    width: 100%

.project_formal
  .banner
    max-width: 1180px
    margin: 0 auto
    height: 500px
    background-position: 50%
    background-size: cover
    transition: height 0.3s
    @media screen and (max-width: 1100px)
      height: 400px
    @media screen and (max-width: 800px)
      height: 300px

  .tag_list
    text-align: center
    margin: 40px
    font-family: pressura


  .project_content
    max-width: 660px
    margin: 0 auto
    padding: 15px
    text-align: center
    p
      font-size: 1.4rem
      @media screen and (max-width: 800px)
        font-size: 1.2rem
        padding: 0 30px
        line-height: 1.65rem
  .project_images_list
    font-size: 0
    text-align: center
    max-width: 1200px
    margin: 30px auto
  .project_image
    width: 50%
    box-sizing: border-box
    padding: 10px
    display: inline-block
    box-sizing: border-box

    @media screen and (max-width: 600px)
      width: 100%
