- provide :body_classes, 'menu_open'
#page_wrapper
  .left_column
    %h2 How we work
    %span Design with heart

    %h2 Who we are
    %span est. 2015
  .main
    %h1 <span class="emphasis">Good design</span> makes things work.

    %p As a design studio Joyce of all Trades believes effective communication to be a key ingredient for any thriving enterprise. It is simple: You have something amazing that the world needs to know about - and we can help you with that. We offer solutions that are captivating in their presentation, clear in their communication and consistent throughout all applications. We care about uncovering your unique voice, letting it tell your story in the most compelling and engaging way. As we said ... It works.
    %p Joyce of all Trades is a Norwich based studio founded by Joyce in 2015 after graduating from Norwich University of the Arts with a degree in Graphic Design, specialising in Design for Publishing. Joyce collaborates closely with a network of creative professionals, which allows us to create awesome results. We have worked with clients from academia, lifestyle brands, charities and entrepreneurs.

    %p Joyce of all Trades is a Norwich based studio founded by Joyce in 2015 after graduating from <span class="emphasis">Norwich University of the Arts</span> with a degree in Graphic Design, specialising in Design for Publishing. Joyce collaborates closely with a network of creative professionals, which allows us to create awesome results. We have worked with clients from academia, lifestyle brands, charities and entrepreneurs.

    %p.indented<span class="emphasis">We would love to work with you.</span>
  
  .right_column
    %h2 Clients
    %span AGEAS
    %span Artel Store
    %span NUA
    %span Soul Church

    %h2 Friends
    %span CD2
    %span Laurel Pettitt
    %span Christian S Harrop
    %span Karim Skalli
    %span Fosten Doc

    %h2 Contact
    %span email
    %span instagram
    %span Karim Skalli
    %span Fosten Doc
