#home_page_wrapper
  //#home_red_layer
  //#home_white_layer
  #home_white_centre
  .home_links

    .about_home_link
      = link_to 'about', about_path
      .spacer_div
      %h2 joyce

    .journal_home_link
      %h2 of
      .spacer_div
      = link_to 'journal', blogs_path

    .play_home_link
      = link_to 'play', plays_path
      .spacer_div
      %h2 all

    .work_home_link
      %h2 trades
      .spacer_div
      = link_to 'work', projects_path
