.project_preview_container{data: {tags: project.tags, filter_order: project_counter, url: project_path(project)}}
  .project_preview{style: "background-image: url(#{project.teaser_image})"}
    .project_preview_underlays
      .white_rock
      .pink_rock
    = link_to project do
      .project_preview_content  
        %h3= project.name
        %p.mono= project.product
