.project_preview_container{data: {tags: project.tags, filter_order: project_counter}}
  .project_preview{style: "background-image: url(#{project.teaser_image})"}
    .project_preview_underlays
      .white_rock
      .pink_rock
    .project_preview_content  
      %h3= project.name
      %p.mono= project.product
