#projects_container
  #projects_intro
    We work both with individuals and businesses. Some text that introduces work section. We work both with individuals and businesses.
  #project_tags
    - ProjectTag.pluck(:name).each do |tag|
      .project_tag
        = link_to tag, 'javascript: void 0;', data: {filter: tag}
  #projects_previews
    = render partial: 'teaser', collection: @projects, as: :project
      
