#header
  padding: 0 50px
  .logo
    width: 200px
    height: 100px
    // font-family: $futwora
    font-weight: bold
    font-size: 1.375rem
    box-sizing: border-box
    position: relative

    span
      position: absolute
      top: 39px
      transition: 0.3s

    .word_1
      left: 0
    .word_2
      left: 63px
    .word_3
      left: 90px
    .word_4
      left: 120px

    &:hover
      .word_1
        left: 0
        top: 20px
      .word_2
        left: 46px
        top: 54px
      .word_3
        left: 90px
        top: 30px
      .word_4
        left: 124px
        top: 61px
        
    
  .menu_icon

  .menu_items
    .menu_item
      a
