html
  // font-family: "proxima-nova", sans

img
  max-width: 100%

a
  color: inherit
  text-decoration: none
  &:hover
    text-decoration: underline

h1, h2, h3, h4, h5, h6, p, li, table
  -webkit-font-smoothing: antialiased
