html
  font-family: futwora, Sans-Serif

body
  background-color: $color_2
  transition: background-color 0.3s
  &.logo_hover
    background-color: $color_1

img
  max-width: 100%

a
  color: inherit
  text-decoration: none
  &:hover
    text-decoration: underline

h1, h2, h3, h4, h5, h6, p, li, table
  -webkit-font-smoothing: antialiased

h1
  span.emphasis
    color: $color_3
    display: block
  font-size: 2.75rem

h3
  text-transform: uppercase
  font-size: 1rem
  letter-spacing: 4px
  &:after
    position: relative
    top: 10px
    content: ''
    display: block
    width: 5px
    height: 2px
    background-color: black

p
  font-size: 1.125rem
  line-height: 2rem

ul
  margin: 0
  padding: 0

li
  list-style: none
  font-family: pressura
  line-height: 1.7rem

@font-face
  font-family: 'apercu_mono'
  src: font-url('apercu_mono_pro.otf')

@font-face
  font-family: 'apercu'
  src: font-url('apercu.otf')
  font-weight: 400

@font-face
  font-family: 'apercu'
  src: font-url('apercu-light.otf')
  font-weight: 200

@font-face
  font-family: 'apercu'
  src: font-url('apercu-bold.otf')
  font-weight: 600

@font-face
  font-family: 'futwora'
  src: font-url('FutworaProTrial-Bold.otf')
  font-weight: 600

@font-face
  font-family: 'futwora'
  src: font-url('FutworaProTrial-Regular.otf')
  font-weight: 400

@font-face
  font-family: 'pressura'
  src: font-url('GT-Pressura-Mono-Trial-Light.otf')
  font-weight: 600